
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center:font-size:17px;text-transform:uppercase;text-align:center;color:blue;">Thay đổi mật khẩu</h2>

<div class="change_pass">
    <div class="text-center">
        <div class='text-center alert alert-success alert-sm' style="display:none;@TempData["displaypass"]">
            @TempData["success_pass"]
        </div>

        <div class='text-center alert alert-danger alert-sm' style="display:none;@TempData["errordisplaypass"]">
            @TempData["error_pass_old"]
        </div>


        <div class='text-center alert alert-danger alert-sm' style="display:none;@TempData["errorlengthdis"]">
            @TempData["errorlengthpass"]
        </div>

        <div class='text-center alert alert-danger alert-sm' style="display:none;@TempData["errordisplaypassnew"]">
            @TempData["error_pass_repeat"]
        </div>



    </div>

    <form action="~/Admin/Users/postChangePassword"  method="post">
        <div class="form-group">
            <label>Nhập mật khẩu cũ</label>
            <input type="text" name="pass_old" class="form-control" />
        </div>

        <div class="form-group">
            <label>Nhập mật khẩu mới</label>
            <input type="text" name="pass_new" class="form-control" />
        </div>


        <div class="form-group">
            <label>Nhập lại mật khẩu mới</label>
            <input type="text" name="pass_new_repeat" class="form-control" />
        </div>

        <div class="form-group text-center">
            <input type="submit" name="submit_change" value="Thay đổi mật khẩu" class="submit_change" />
        </div>

    </form>
</div>

<style>
    .change_pass {
        width: 800px;
        margin: 0px auto;
    }
    .submit_change{
        text-align:center;
        color:#fff;
        background:#31373d;
        padding:10px 25px;
        border:none;
        border-radius:5px;
        text-transform:uppercase;

    }
</style>

