USE [master]
GO
/****** Object:  Database [nhvasfmu_pmkt]    Script Date: 08/20/2018 10:41:19 PM ******/
CREATE DATABASE [nhvasfmu_pmkt] ON  PRIMARY 
( NAME = N'WEB_PMKT_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\nhvasfmu_pmkt_276c0634665d4adc9c663a8e5ceaad8d.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WEB_PMKT_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\nhvasfmu_pmkt_3433b3e09ad04df9b33740327db469c1.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nhvasfmu_pmkt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nhvasfmu_pmkt]
GO
/****** Object:  User [lengocthanh]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE USER [lengocthanh] FOR LOGIN [lengocthanh] WITH DEFAULT_SCHEMA=[lengocthanh]
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N'lengocthanh'
GO
sys.sp_addrolemember @rolename = N'db_backupoperator', @membername = N'lengocthanh'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'lengocthanh'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'lengocthanh'
GO
/****** Object:  Schema [lengocthanh]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE SCHEMA [lengocthanh]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Article]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleName] [nvarchar](250) NOT NULL,
	[Alias] [varchar](250) NOT NULL,
	[DescriptShort] [nvarchar](max) NULL,
	[BlogID] [int] NOT NULL,
	[Images] [nvarchar](500) NULL,
	[Author] [nvarchar](max) NULL,
	[Content] [ntext] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[News_hot] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Article] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[BlogName] [nvarchar](250) NOT NULL,
	[Alias] [varchar](250) NOT NULL,
	[Content] [ntext] NULL,
	[Author] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](250) NOT NULL,
	[Alias] [varchar](250) NOT NULL,
	[Images] [nvarchar](500) NULL,
	[Content] [ntext] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Configure]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configure](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](256) NULL,
	[Favicon] [nvarchar](256) NULL,
	[NameCompany] [nvarchar](256) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailReceive] [nvarchar](50) NULL,
	[Phone] [nvarchar](11) NULL,
	[Hotline] [nvarchar](150) NULL,
	[Map] [nvarchar](max) NULL,
	[FanpageFacebook] [nvarchar](max) NULL,
	[IconFacebook] [nvarchar](max) NULL,
	[IconTwiiter] [nvarchar](max) NULL,
	[IconInstagram] [nvarchar](max) NULL,
	[IconYoutube] [nvarchar](max) NULL,
	[IconGoogle] [nvarchar](max) NULL,
	[title_block_address] [nvarchar](max) NULL,
	[title_block_description_1] [nvarchar](max) NULL,
	[link_name_des_1] [nvarchar](max) NULL,
	[link_href_des_1] [nvarchar](max) NULL,
	[link_name_des_2] [nvarchar](max) NULL,
	[link_href_des_2] [nvarchar](max) NULL,
	[link_name_des_3] [nvarchar](max) NULL,
	[link_href_des_3] [nvarchar](max) NULL,
	[link_name_des_4] [nvarchar](max) NULL,
	[link_href_des_4] [nvarchar](max) NULL,
	[link_name_des_5] [nvarchar](max) NULL,
	[link_href_des_5] [nvarchar](max) NULL,
	[link_name_des_6] [nvarchar](max) NULL,
	[link_href_des_6] [nvarchar](max) NULL,
	[title_block_description2_1] [nvarchar](max) NULL,
	[link_name_des_2_1] [nvarchar](max) NULL,
	[link_href_des_2_1] [nvarchar](max) NULL,
	[link_name_des_2_2] [nvarchar](max) NULL,
	[link_href_des_2_2] [nvarchar](max) NULL,
	[link_name_des_2_3] [nvarchar](max) NULL,
	[link_href_des_2_3] [nvarchar](max) NULL,
	[link_name_des_2_4] [nvarchar](max) NULL,
	[link_href_des_2_4] [nvarchar](max) NULL,
	[link_name_des_2_5] [nvarchar](max) NULL,
	[link_href_des_2_5] [nvarchar](max) NULL,
	[link_name_des_2_6] [nvarchar](max) NULL,
	[link_href_des_2_6] [nvarchar](max) NULL,
	[title_dknt] [nvarchar](max) NULL,
	[content_dknt] [nvarchar](max) NULL,
	[title_map] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Configure] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[Content] [ntext] NOT NULL,
	[ViewStatus] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Home]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home](
	[HomeID] [int] IDENTITY(1,1) NOT NULL,
	[on_block_slogan] [bit] NOT NULL,
	[title_sologan] [nvarchar](max) NULL,
	[button_more_slogan] [nvarchar](max) NULL,
	[on_block_intro] [bit] NOT NULL,
	[title_intro] [nvarchar](max) NULL,
	[des_more_intro] [nvarchar](max) NULL,
	[images_intro_1] [nvarchar](max) NULL,
	[images_intro_2] [nvarchar](max) NULL,
	[content_intro] [nvarchar](max) NULL,
	[text_intro1] [nvarchar](max) NULL,
	[text_intro2] [nvarchar](max) NULL,
	[text_intro3] [nvarchar](max) NULL,
	[text_intro4] [nvarchar](max) NULL,
	[text_intro5] [nvarchar](max) NULL,
	[text_intro6] [nvarchar](max) NULL,
	[text_intro7] [nvarchar](max) NULL,
	[text_intro8] [nvarchar](max) NULL,
	[text_intro9] [nvarchar](max) NULL,
	[text_intro10] [nvarchar](max) NULL,
	[button_more_intro] [nvarchar](max) NULL,
	[on_product_home] [bit] NOT NULL,
	[title_product_home] [nvarchar](max) NULL,
	[link_title_product_home] [nvarchar](max) NULL,
	[collection_product_home] [int] NULL,
	[on_work_time] [bit] NOT NULL,
	[title_work] [nvarchar](max) NULL,
	[icon_work_1] [nvarchar](max) NULL,
	[titile_block_work1] [nvarchar](max) NULL,
	[content_block_work1] [nvarchar](max) NULL,
	[icon_work_2] [nvarchar](max) NULL,
	[titile_block_work2] [nvarchar](max) NULL,
	[content_block_work2] [nvarchar](max) NULL,
	[icon_work_3] [nvarchar](max) NULL,
	[titile_block_work3] [nvarchar](max) NULL,
	[content_block_work3] [nvarchar](max) NULL,
	[icon_work_4] [nvarchar](max) NULL,
	[titile_block_work4] [nvarchar](max) NULL,
	[content_block_work4] [nvarchar](max) NULL,
	[on_new_video] [bit] NOT NULL,
	[title_block_news] [nvarchar](max) NULL,
	[blog_news_chosse] [int] NULL,
	[title_block_video] [nvarchar](max) NULL,
	[video_iframe1] [nvarchar](max) NULL,
	[images_video_2] [nvarchar](max) NULL,
	[video_iframe2] [nvarchar](max) NULL,
	[images_video_3] [nvarchar](max) NULL,
	[video_iframe3] [nvarchar](max) NULL,
	[images_video_4] [nvarchar](max) NULL,
	[video_iframe4] [nvarchar](max) NULL,
	[on_say_customer] [bit] NOT NULL,
	[title_block_comment_customer] [nvarchar](max) NULL,
	[on_block_say_customer1] [bit] NOT NULL,
	[name_customer_say1] [nvarchar](max) NULL,
	[images_customer_1] [nvarchar](max) NULL,
	[company_customer_say1] [nvarchar](max) NULL,
	[content_customer_say1] [nvarchar](max) NULL,
	[on_block_say_customer2] [bit] NOT NULL,
	[name_customer_say2] [nvarchar](max) NULL,
	[images_customer_2] [nvarchar](max) NULL,
	[company_customer_say2] [nvarchar](max) NULL,
	[content_customer_say2] [nvarchar](max) NULL,
	[on_block_say_customer3] [bit] NOT NULL,
	[name_customer_say3] [nvarchar](max) NULL,
	[images_customer_3] [nvarchar](max) NULL,
	[company_customer_say3] [nvarchar](max) NULL,
	[content_customer_say3] [nvarchar](max) NULL,
	[on_block_say_customer4] [bit] NOT NULL,
	[name_customer_say4] [nvarchar](max) NULL,
	[images_customer_4] [nvarchar](max) NULL,
	[company_customer_say4] [nvarchar](max) NULL,
	[content_customer_say4] [nvarchar](max) NULL,
	[on_block_say_customer5] [bit] NOT NULL,
	[name_customer_say5] [nvarchar](max) NULL,
	[images_customer_5] [nvarchar](max) NULL,
	[company_customer_say5] [nvarchar](max) NULL,
	[content_customer_say5] [nvarchar](max) NULL,
	[on_block_say_customer6] [bit] NOT NULL,
	[name_customer_say6] [nvarchar](max) NULL,
	[images_customer_6] [nvarchar](max) NULL,
	[company_customer_say6] [nvarchar](max) NULL,
	[content_customer_say6] [nvarchar](max) NULL,
	[on_block_partner] [bit] NOT NULL,
	[title_partners] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Home] PRIMARY KEY CLUSTERED 
(
	[HomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuNavigation]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuNavigation](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Sequence] [int] NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[IconMenu] [nvarchar](max) NULL,
	[MenuParents] [int] NOT NULL,
	[PageStyle] [int] NOT NULL,
	[FormatPage] [int] NULL,
	[GroupLink] [int] NULL,
	[PageContent] [ntext] NULL,
	[PageLink] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuNavigation] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Alias] [varchar](250) NOT NULL,
	[Images] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[DescriptShort] [nvarchar](max) NULL,
	[Content] [ntext] NULL,
	[Content2] [ntext] NULL,
	[Content3] [ntext] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[Author] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegisterUse]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterUse](
	[RegisterUseID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[ViewStatus] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.RegisterUse] PRIMARY KEY CLUSTERED 
(
	[RegisterUseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slide]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[SortID] [int] NOT NULL,
	[SliderName] [nvarchar](250) NULL,
	[SliderName2] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[URL] [nvarchar](250) NULL,
	[OptionSelect] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Slide] PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](250) NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserBusiness]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBusiness](
	[BusinessID] [varchar](50) NOT NULL,
	[BusinessName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_dbo.UserBusiness] PRIMARY KEY CLUSTERED 
(
	[BusinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGrantPermission]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGrantPermission](
	[PermissionID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.UserGrantPermission] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 08/20/2018 10:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermission](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](100) NOT NULL,
	[PermissionDescription] [nvarchar](250) NOT NULL,
	[BusinessID] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.UserPermission] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogID], [BlogName], [Alias], [Content], [Author], [MetaTitle], [MetaKeyword], [MetaDescription], [CreatedAt], [Status]) VALUES (1, N'Tin tuc', N'tin-tuc', NULL, N'Admin', N'Tin tuc', NULL, NULL, CAST(N'2018-04-07T23:31:31.000' AS DateTime), 1)
INSERT [dbo].[Blog] ([BlogID], [BlogName], [Alias], [Content], [Author], [MetaTitle], [MetaKeyword], [MetaDescription], [CreatedAt], [Status]) VALUES (2, N'Ngôi nhà Vasj', N'ngoi-nha-vasj', NULL, N'Thanhln2002@gmail.com', N'Ngôi nhà Vasj', NULL, NULL, CAST(N'2018-05-17T10:33:40.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Alias], [Images], [Content], [MetaTitle], [MetaKeyword], [MetaDescription], [Author], [CreatedAt], [Status]) VALUES (4, N'Phần mềm kế toán', N'phan-mem-ke-toan', N'/Upload/ImageDes/images/SmartSoft.bmp', NULL, N'Phần mềm kế toán', NULL, NULL, N'Admin', CAST(N'2018-04-08T09:05:16.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Configure] ON 

SET IDENTITY_INSERT [dbo].[Configure] OFF
SET IDENTITY_INSERT [dbo].[Home] ON 

SET IDENTITY_INSERT [dbo].[Home] OFF
SET IDENTITY_INSERT [dbo].[MenuNavigation] ON 

INSERT [dbo].[MenuNavigation] ([MenuID], [Sequence], [MenuName], [IconMenu], [MenuParents], [PageStyle], [FormatPage], [GroupLink], [PageContent], [PageLink], [MetaTitle], [MetaKeyword], [MetaDescription], [CreatedAt], [Status]) VALUES (1, 1, N'Trang chủ', NULL, 0, 3, 0, NULL, NULL, N'/', NULL, NULL, NULL, CAST(N'2018-04-08T08:59:31.970' AS DateTime), 1)
INSERT [dbo].[MenuNavigation] ([MenuID], [Sequence], [MenuName], [IconMenu], [MenuParents], [PageStyle], [FormatPage], [GroupLink], [PageContent], [PageLink], [MetaTitle], [MetaKeyword], [MetaDescription], [CreatedAt], [Status]) VALUES (2, 2, N'Giới Thiệu', NULL, 0, 3, 0, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2018-04-08T08:59:55.880' AS DateTime), 1)
INSERT [dbo].[MenuNavigation] ([MenuID], [Sequence], [MenuName], [IconMenu], [MenuParents], [PageStyle], [FormatPage], [GroupLink], [PageContent], [PageLink], [MetaTitle], [MetaKeyword], [MetaDescription], [CreatedAt], [Status]) VALUES (3, 3, N'Sản Phẩm', NULL, 0, 1, 1, 4, NULL, NULL, NULL, NULL, NULL, CAST(N'2018-04-08T09:00:43.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MenuNavigation] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[RegisterUse] ON 

INSERT [dbo].[RegisterUse] ([RegisterUseID], [ProductID], [FullName], [Email], [Phone], [ViewStatus], [CreatedAt]) VALUES (3, 4, N'Phạm Thị Hồng Vân', N'hongvanrico@gmail.com', N'0898566588', 0, CAST(N'2018-05-17T14:51:04.200' AS DateTime))
INSERT [dbo].[RegisterUse] ([RegisterUseID], [ProductID], [FullName], [Email], [Phone], [ViewStatus], [CreatedAt]) VALUES (4, 4, N'Phạm Thị Hồng Vân', N'hongvanrico@gmail.com', N'0898566588', 0, CAST(N'2018-05-18T10:38:18.273' AS DateTime))
INSERT [dbo].[RegisterUse] ([RegisterUseID], [ProductID], [FullName], [Email], [Phone], [ViewStatus], [CreatedAt]) VALUES (5, 3, N'tuấn', N'jingjunbaby315@gmail.com', N'0987338381', 0, CAST(N'2018-05-25T09:51:58.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegisterUse] OFF
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([SliderID], [SortID], [SliderName], [SliderName2], [Description], [Images], [URL], [OptionSelect], [Status]) VALUES (1, 1, N'GIẢI PHÁP KẾ TOÁN', N'CỦA CHÚNG TÔI', N'Giải quyết công việc một cách nhanh chóng thuận tiện nhất', N'/Upload/Images/home_1_slider_img_1.jpg', N'#', 1, 1)
INSERT [dbo].[Slide] ([SliderID], [SortID], [SliderName], [SliderName2], [Description], [Images], [URL], [OptionSelect], [Status]) VALUES (3, 1, NULL, NULL, NULL, N'/Upload/Images/135x85_crop_brand.jpg', N'#', 2, 1)
INSERT [dbo].[Slide] ([SliderID], [SortID], [SliderName], [SliderName2], [Description], [Images], [URL], [OptionSelect], [Status]) VALUES (4, 2, NULL, NULL, NULL, N'/Upload/Images/135x85_crop_brand1.jpg', N'#', 2, 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Image], [Email], [Address], [Phone], [CreatedAt], [Status]) VALUES (2, N'Admin', N'e26ad5176df749e3a78495cc6136e84c', N'Nguyễn Viết Mạnh', N'/Upload/Default/man-avatar.jpg', N'manhnv83@gmail.com', N'Linh Đàm, Hoàng Mai, Hà Nội', N'0982411958', NULL, 1)
INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Image], [Email], [Address], [Phone], [CreatedAt], [Status]) VALUES (5, N'Thanhln2002@gmail.com', N'e26ad5176df749e3a78495cc6136e84c', N'Lê Ngọc Thành', N'/Upload/Images/Thanhln_Plus.jpg', N'thanhln2002@gmail.com', N'564 Bạch Đằng, Hai Bà Trưng, Hà Nội', N'0989992498', CAST(N'2018-05-09T14:55:40.610' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserBusiness] ([BusinessID], [BusinessName]) VALUES (N'ArticlesController', N'Quản lí bài viết')
INSERT [dbo].[UserBusiness] ([BusinessID], [BusinessName]) VALUES (N'BlogsController', N'Quản lí nhóm bài viết')
INSERT [dbo].[UserBusiness] ([BusinessID], [BusinessName]) VALUES (N'CategoriesController', N'Quản lí nhóm sản phẩm')
INSERT [dbo].[UserGrantPermission] ([PermissionID], [UserID], [Description]) VALUES (1, 2, N'Được Cấp Quyền')
INSERT [dbo].[UserGrantPermission] ([PermissionID], [UserID], [Description]) VALUES (2, 2, N'Được Cấp Quyền')
INSERT [dbo].[UserGrantPermission] ([PermissionID], [UserID], [Description]) VALUES (3, 2, N'Được Cấp Quyền')
GO
SET IDENTITY_INSERT [dbo].[UserPermission] ON 

INSERT [dbo].[UserPermission] ([PermissionID], [PermissionName], [PermissionDescription], [BusinessID]) VALUES (1, N'ArticlesController-Create', N'Thêm mới bài viết', N'ArticlesController')
INSERT [dbo].[UserPermission] ([PermissionID], [PermissionName], [PermissionDescription], [BusinessID]) VALUES (2, N'ArticlesController-Create', N'Thêm mới bài viết', N'ArticlesController')
INSERT [dbo].[UserPermission] ([PermissionID], [PermissionName], [PermissionDescription], [BusinessID]) VALUES (3, N'ArticlesController-Delete', N'Xoá bài viết', N'ArticlesController')
SET IDENTITY_INSERT [dbo].[UserPermission] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Alias]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Article]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogID]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_BlogID] ON [dbo].[Article]
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Alias]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Blog]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Alias]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Category]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Alias]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Product]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Product]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Username]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[User]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermissionID]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_PermissionID] ON [dbo].[UserGrantPermission]
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserGrantPermission]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BusinessID]    Script Date: 08/20/2018 10:41:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusinessID] ON [dbo].[UserPermission]
(
	[BusinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Article_dbo.Blog_BlogID] FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blog] ([BlogID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_dbo.Article_dbo.Blog_BlogID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID]
GO
ALTER TABLE [dbo].[UserGrantPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGrantPermission_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGrantPermission] CHECK CONSTRAINT [FK_dbo.UserGrantPermission_dbo.User_UserID]
GO
ALTER TABLE [dbo].[UserGrantPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGrantPermission_dbo.UserPermission_PermissionID] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[UserPermission] ([PermissionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGrantPermission] CHECK CONSTRAINT [FK_dbo.UserGrantPermission_dbo.UserPermission_PermissionID]
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermission_dbo.UserBusiness_BusinessID] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[UserBusiness] ([BusinessID])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_dbo.UserPermission_dbo.UserBusiness_BusinessID]
GO
USE [master]
GO
