@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>updating</title>
</head>
<body>
    <div>
        <h3 class="text-center" style="text-align:center;color:blue;font-size:20px;font-weight:bold;text-transform:uppercase;">
            WEBSITE ĐANG BẢO TRÌ.XIN MỜI BẠN ĐĂNG NHẬP LẠI SAU
        </h3>
    </div>
</body>
</html>